<div class="cmp-time cmp-time--left">
    <h2 class="cmp-time__year">1995</h3>
    <img class="cmp-time__img" src="%assetPath%/assets/compare/london-1995.png" />
</div>
<div class="cmp-time cmp-time--right">
    <h2 class="cmp-time__year">2014</h3>
    <img class="cmp-time__img" src="%assetPath%/assets/compare/london-2014.png" />
</div>
<div class="go-to-interactive">
    <a href="http://gu.com/p/49p77">
        <span>Explore the data</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
    </a>
</div>
