<div class="map js-map"></div>
<div class="user js-user"></div>
<div class="tooltip js-tooltip"></div>
<div class="range">
    <p class="range__desc">
        How many times the UK average would buy the median house
    </p>
    <div class="range__pips">
        <span class="range__pips__pip" data-range="0"></span>
        <span class="range__pips__pip" data-range="4"></span>
        <span class="range__pips__pip" data-range="6"></span>
        <span class="range__pips__pip" data-range="8"></span>
        <span class="range__pips__pip" data-range="10"></span>
        <span class="range__pips__pip" data-range="12"></span>
        <span class="range__pips__pip" data-range="14"></span>
    </div>
</div>
