<div class="hp-user js-user"></div>
<div class="hp-map js-map">
    <div class="hp-range">
        <p class="hp-range__desc">
            How many times your wage would buy the median house
        </p>
        <div class="hp-range__pips">
            <span class="hp-range__pips__pip" data-range="0"></span>
            <span class="hp-range__pips__pip" data-range="2"></span>
            <span class="hp-range__pips__pip" data-range="3"></span>
            <span class="hp-range__pips__pip" data-range="4"></span>
            <span class="hp-range__pips__pip" data-range="5"></span>
            <span class="hp-range__pips__pip" data-range="6+"></span>
        </div>
    </div>
    <div class="hp-tooltip js-tooltip"></div>
</div>
<div class="hp-intro-container js-intro"></div>
<iframe src="%assetPath%/worker.html" class="js-worker" style="display: none"></iframe>
