html {
    height: 100%;
    @include mq(tablet) {
        overflow-y: hidden;
    }
}

p {
    margin: 0 0 8px 0;
}

a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

body,
figure.interactive {
    margin: 0;
    padding: 0;
    background-color: #7d949b;
}

figure.interactive {
    position: relative;
    overflow: hidden;
}

#header {
    z-index: 1001;
}
