.intro-container {
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a60947;
}

.intro {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;

    @include f-bodyHeading;
    font-weight: normal;
    color: white;

    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.intro__step {
    height: 100%;
}

.intro__text {
    font-size: 60px;

    opacity: 0;
    transition: opacity 0.5s ease-out;

    &.is-visible {
        opacity: 1;
    }
}

.intro__img {
    position: relative;
    float: left;
    width: 50%;
    background: url('assets/intro.png');
    background-size: cover;
    padding-bottom: 60%;
    margin-bottom: 40px;

    display: none;

    @include mq(desktop) {
        width: 25%;
        padding-bottom: 30%;
    }
}

.intro__img__year {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 40px;
    line-height: 1;
}
