// line chart
.line {
    fill: none;
    stroke: $c-neutral-1;
    stroke-width: 3px;
}  
.line-mask {
    fill: white;
    stroke: white;
    stroke-width: 1px;
}
.line-area {
    fill: $c-neutral-5;
    stroke: $c-neutral-5;
    storke-width: 1px;
}

.chart {
    font-size: 11px;
    line-height: 1.15em;

    width: 280px;
    height: 110px;
    margin-top: 12px;
}    

.chart-color {
    width: 100%;
    height: 56px; //64(svg)-10(margin-top)
    white-space:nowrap;
    overflow:hidden;
    top: 22px;
}
.chart-color-outlier {
    @extend .chart-color;
    width: 28px; 
    right: 0;
}

.chart-lines {
    top: 13px;
    
    text {
        font-size: 9px;
        fill: $c-neutral-3;
    }

    .axis line, 
    .axis path {
        fill: none;
        stroke: $c-neutral-4;
        shape-rendering: crispEdges;
    }   
}

.chart-label {
    width: 100%;
    height: 100%;

    [class^="pos-a-"] { 
        position: absolute; 
    }
    .pos-a-min { bottom:    0; left:  0; }
    .pos-a-max { top:  1.2em; right: 0; }
    .pos-a-med { top: -0.8em; transition: left  0.25s ease; }
    .pos-a-upf { bottom:    0; }
}

.chart-pin-min {
    width: 1px;
    height: 8px;
    border-left: 1px solid $c-neutral-1;
}
.chart-pin-max {
    height: 40px;
    border-right: 1px solid $c-neutral-1;
}
.chart-pin-med {
    width: 1px;
    height: 62px;
    border-left: 1px solid $c-neutral-1;
}
.chart-pin-upf {
    border-right: 1px solid #454545;//$c-neutral-1;
    box-shadow: 3px 0 white, 4px 0 #454545;
    transition: height 0.25s ease;
}

.color-extra {
    width: 105%;
    height: 100%;
    background-color: #ca2345;
}
.color-pipes {
    height: 100%;
    background-image: url('assets/gradient-ie9.svg');
    background-image: linear-gradient(90deg,
    #39a4d8  0%, #39a4d8 20%,
    #8ac7cd 20%, #8ac7cd 30%,
    #daeac1 30%, #daeac1 40%, 
    #fdd09e 40%, #fdd09e 50%,
    #f58680 50%, #f58680 60%, 
    #ed3d62 60%, #ed3d61 100%
    );
    
} 
.color-pipes-animate {
    @extend .color-pipes;
    transition: width 0.25s ease;
}

