// line chart
.lines {
    path { 
        stroke: #333;
        stroke-width: 1;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }

    text {
        fill: #333;
        font-size: 9px;
    } 
}

.line-affordable {
    @extend .lines;
    margin-top: 15px;
}
.line-distribution {
    @extend .lines;
    margin-bottom: -5px;
}
