.hp-madlib {
    border: 1px solid #bdbdbd;
    border-radius: 100px;
    background: white;

    @include f-headline;
}

.hp-madlib__input {
    overflow: hidden;
}

.hp-madlib__input__text {
    width: 100%;
    background: none;
    border: 0;
    margin: 0;
    padding: 4px 10px 3px;
    outline: 0;
}

.hp-madlib__input__btn {
    float: right;
    border: 0;
    border-radius: 100px;
    outline: 0;
    padding: 0;
    font-size: 0;
    margin: 4px 5px 0 4px;

    transition: 0.1s color ease-out, 0.1s background ease-out;
    color: #333;
    background: #dcdcdc;
    &:hover {
        background: #bdbdbd;
    }

    visibility: hidden;

    .icon-submit {
        display: none;
    }

    &[data-focus] {
        color: white;
        background: #005689;
        &:hover {
            background: #00456E
        }
        .icon-submit {
            display: block;
        }
        .icon-clear {
            display: none;
        }
    }
}

.hp-madlib__note {
    @include fs-textSans(2);
    color: #bdbdbd;
    width: 80px;
    float: right;
    text-align: right;
    margin: 9px 0 0 0;
}

.hp-madlib-options {
    @include fs-textSans(1);
    line-height: 18px;
    color: #767676;
    &::before {
        content: "Or try: ";
        margin-right: 6px;
    }
}

.hp-button {
    @include fs-textSans(1);
    line-height: 22px;
    font-weight: bold;
    border-radius: 100px;
    background: 0;
    border: 0;
    outline: 0;
    margin-right: 6px;

    transition: 0.1s background-color ease-out;

    color: #333;
    background-color: #dcdcdc;
    &:hover {
        background-color: #bdbdbd;
    }

    &[data-selected] {
        color: white;
        background-color: #005689;
        &:hover {
            background-color: #00456e;
        }
    }
}
