@import "lib/leaflet";

.map-regions {
    fill: #d61d00;
    stroke: #d61d00;
    stroke-width: 1;
    stroke-opacity: 0.3;

    &:hover {
        stroke: black;
        stroke-width: 3;
        stroke-opacity: 0.75;
    }
}

.map-labels img {
    pointer-events: none;
}
