$thumb-size: 12px;
$line-offset: 22px;

.hp-range-slider {
    position: relative;
    cursor: pointer;
    margin: -121px 4px 0 12px;
    padding-bottom: $line-offset;
    height: 70px;

    @include mq($until: tablet) {
        .is-sticky & {
            margin-top: -20px;
            height: 20px;
        }
    }

    &::before {
        content: "";
        position: absolute;
        bottom: $line-offset;
        left: 0;
        right: -1px;
        background-color: #767676;
        margin-top: -1px;
        height: 2px;
    }
}

.hp-range-slider__thumb {
    background-color: $c-hp-red;
    position: absolute;
    left: 100%;
    width: $thumb-size;
    height: ($thumb-size - 6);
    border-radius: $thumb-size;
    margin: 0 0 (2 - $thumb-size / 2) (1 - $thumb-size / 2);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

@-webkit-keyframes hp-arrow {
    0%, 100% { margin: 0;  }
    50% { margin: 0 5px; }
}
@keyframes hp-arrow {
    0%, 100% { margin: 0;  }
    50% { margin: 0 5px; }
}

.hp-range-slider__thumbline {
    position: absolute;
    left: 100%;
    height: 52px; //52(100%) + 5(extra)
    bottom: $line-offset;
    border-left: 1px solid $c-hp-red;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.25);

    @include mq($until: tablet) {
        .is-sticky & {
            display: none;
        }
    }

    &::before,
    &::after {
        position: absolute;
        line-height: 52px;
        top: 0;
        opacity: 1;
        -webkit-animation: hp-arrow 1s infinite;
        animation: hp-arrow 1s infinite;
        transition: opacity 0.2s ease-out;
    }
    &::before {
        content: "\2190";
        right: 1px;
    }
    &::after {
        content: "\2192";
        left: 0;
    }

    .hp-range-slider:hover & {
        &::before,
        &::after {
            opacity: 0;
        }
    }
}

.hp-range-slider__tics {
    position: absolute;
    bottom: $line-offset;
    left: 0;
    right: 0;
}

.hp-range-slider__tics__tic {
    position: absolute;
    top: 0;

    border-left: 1px solid #767676;
    padding-top: 4px;

    &.hp-range-slider__tics__tic--major {
        @include fs-textSans(1);
        color: #767676;
        padding-top: 10px;

        & > span {
            position: absolute;
            left: -50px;
            right: -50px;
            text-align: center;
        }
    }
}

.hp-range-line-affordable {
    margin: 5px 4px 0 12px;
    //margin: 5px ($thumb-size / 2) 0 ($thumb-size /2);
    
    @include mq(tablet) {
    margin: 5px 5px 0 12px;
    }
}

.hp-range-label {
    @include fs-textSans(1);
    font-size: 11px;
    line-height: 14px;
    color: #767676;

    @extend .pos-a;
    left: -12px;
    width: 12px;
    border-bottom: 1px solid rgba(118, 118, 118, 0.25);

    &.label-100 { top: -9px; }
    &.label-50  { top: 17px; }
    &.label-0   { bottom: 4px; }
}
