$thumb-size: 14px;

.hp-range-slider {
    position: relative;
    cursor: pointer;
    margin: 0 ($thumb-size / 2) 15px ($thumb-size / 2);

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: -1px;
        background-color: #bdbdbd;
        margin-top: -1px;
        height: 2px;
    }
}

.hp-range-slider__thumb {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 100%;
    margin: (-$thumb-size / 2) 0 0 (-$thumb-size / 2);
    width: $thumb-size;
    height: $thumb-size;
    background-color: #333;
    border-radius: 100px;
}

.hp-range-slider__thumbline {
    position: absolute;
    left: 100%;
    bottom: 0;
    border-left: 1px dotted #333;
}

.hp-range-slider__tics__tic {
    position: absolute;
    top: 50%;
    border-left: 1px solid #bdbdbd;
    padding-top: 5px;

    &.hp-range-slider__tics__tic--major {
        @include fs-textSans(1);
        color: #bdbdbd;
        padding-top: 10px;

        & > span {
            position: absolute;
            left: -50px;
            right: -50px;
            text-align: center;
        }
    }
}

.hp-range-line-affordable {
    margin: 0 ($thumb-size / 2);
}
