$thumb-size: 14px;

.range-slider {
    position: relative;
    height: 40px;
    cursor: pointer;
    margin: 0 ($thumb-size / 2) 20px;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: (-$thumb-size / 2);
        right: (-$thumb-size / 2);
        background-color: #bdbdbd;
        margin-top: -1px;
        height: 2px;
    }
}

.range-slider__thumb {
    position: absolute;
    z-index: 5;
    top: 50%;
    margin: (-$thumb-size / 2) 0 0 (-$thumb-size / 2);
    width: $thumb-size;
    height: $thumb-size;
    background-color: #333;
    border-radius: 100px;
}

.range-slider__tics__tic {
    position: absolute;
    top: 50%;
    border-left: 1px solid #bdbdbd;
    padding-top: 10px;

    @include fs-textSans(1);
    color: #bdbdbd;

    & > span {
        position: absolute;
        left: -100px;
        right: -100px;
        text-align: center;
    }

    &:first-child {
        left: (-$thumb-size / 2) !important;
        & > span {
            left: 0;
            text-align: left;
        }
    }

    &:last-child {
        right: (-$thumb-size / 2);
        border-left: 0;
        border-right: 1px solid #bdbdbd;
        & > span {
            right: 0;
            text-align: right;
        }
    }
}


