.hp-sticky-bar {
    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }

    &.is-bottom {
        bottom: 0;
        top: auto;
    }
}
