$c-neutral-1: #333;
$c-neutral-2: #767676;
$c-neutral-3: #bdbdbd;
$c-neutral-5: #dfdfdf;


// atomic
.c-grey3 { color: $c-neutral-3; }

.fz-11 { font-size: 11px; }
.fz-18 { font-size: 18px; }

.f-l { float: left; }
.f-r { float: right; }

.bb-s { border-bottom: 1px solid $c-neutral-5; }
.bb-d { border-bottom: 1px dotted $c-neutral-1; }

.mr-5  { margin-right: 5px; }
.mt-15 { margin-top: 15px; }

.p-a {
    position: absolute;
}

.f-truncate {
    display: inline-block;
    width: 100%; // check the tweak
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}


// tooptip
.tooltip {
    @include fs-textSans(2);
    background-color: rgba(255,255,255,0.9);

    width: 300px;
    height: 200px;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11; //range is 10 

    pointer-events: none;
    user-select: none; 

    h3 { margin: .25em 0; }
    p  { margin: 0; }

    .chart {
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
}    

[class^="range-"] {
    height: 10px;
    display: inline-block;
}
.range-extra {
    width: 100%;
    background-color: #ed3d61;
}
.range-pipes {
    transition: width 0.25s ease;
    background-image: linear-gradient(90deg,
    #39a4d8  0%,   #39a4d8 25%,
    #8ac7cd 25%,   #8ac7cd 37.5%,
    #daeac1 37.5%, #daeac1 50%, 
    #fdd09e 50%,   #fdd09e 62.5%,
    #f58680 62.5%, #f58680 75%, 
    #ed3d62 75%,   #ed3d61 100%
    );
}   

[class^="marker"] {
    border-left: 1px solid $c-neutral-1; 
    height: 14px;
    position: absolute;
    top: 17px;
}
.marker-med {
    border-left: 3px solid $c-neutral-1;        
    transition: left 0.25s ease;
}
.marker-min {
    top: 17px;
    height: 9px;
    width: 3px;
    border: 3px solid $c-neutral-1;
    border-right: 0;
    transition: left 0.25s ease;
}   
.marker-max {
    right: 0;
    top: 17px;
    height: 9px;
    width: 3px;
    border: 3px solid $c-neutral-1;
    border-left: 0;
}
}
