.user {
    @include f-bodyCopy;

    position: absolute;
    z-index: 10;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    height: 0;

    display: none;
    @include mq(tablet) {
        display: block;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.user__inner {
    width: 400px;
    margin: 0 0 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px;
}

.title {
    @include f-bodyHeading;
    font-weight: normal;
    font-size: 38px;
    line-height: 1;
    margin-bottom: 20px;
}

.subtitle {
    @include f-header;
    font-size: 14px;
    margin-bottom: 3px;
}

.madlib {
    font-size: 20px;
    color: #767676;
}

.madlib__input {
    display: inline-block;
    position: relative;
    border-bottom: 2px dotted black;
    width: 200px;
}

.madlib__input__text,
.madlib__input__expand,
.madlib__input__canned__options {
    background: 0;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

.madlib__input__text {
    width: calc(100% - 20px);
    font-weight: bold;
    color: #333;
    padding-left: 5px;
    box-sizing: border-box;

    &::-webkit-input-placeholder { color: #333; }
    &:-moz-placeholder { color: #333; }
    &::-moz-placeholder { color: #333; }
    &:-ms-input-placeholder { color: #333; }
}

.madlib__input__expand {
    width: 20px;
    &::after {
        content: "";
        display: inline-block;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid black;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .madlib__input[data-expanded] &::after {
        border-top: 0;
        border-bottom: 5px solid black;
    }
}

.madlib__input__canned {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;

    display: none;
    .madlib__input[data-expanded] & {
        display: block;
    }
}

.madlib__input__canned__options {
    background-color: white;
    width: 120%;
    cursor: pointer;

    & > option {
        padding-left: 5px;
    }
}

.result {
    @include f-header;
    font-weight: bold;
}

.result__color {
    .result--bad & {
        color: #ed3d61;
}
.result--good & {
    color: #39a4d8;
}
}

.daterange {
    input {
        width: 100%;
}
}

.share-container {
    @include f-textSans;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;

    border-top: 1px solid #dfdfdf;
    padding-top: 10px;

    p {
        margin: 0;
}
}

.share {
    float: right;
}

// marker for line chart
.shape-triangle {
    top: 45px; //temp
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #ed3d61;
}
.pos-r-user {
    @extend .pos-r;
    top: -55px;
    margin-left: 3px;
    width: calc(100% - 15px);

    font-family: $f-data;
    font-size: 12px;
}
