@import 'range';
@import 'sticky-bar';

.hp-user {
    @include f-bodyCopy;
    font-size: 18px;
    line-height: 1.3;

    @include mq(tablet) {
        position: absolute;
        z-index: 10;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        height: 0;
        width: 100%;
    }

    @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.hp-user__inner {
    padding: 10px;
    background-color: white;
    position: relative;
    z-index: 2001;

    @include mq(mobileLandscape) {
        padding: 20px;
    }

    @include mq(tablet) {
        width: 280px;
        margin: 0 0 0 auto;
    } 
}

.hp-user__inner--shares {
    padding: 10px 20px;
    z-index: 2000;
}

.hp-title {
    @include fs-headline(6);
    margin-bottom: 12px;
}

.hp-subtitle {
    @include f-header;
    font-size: 14px;
    margin-bottom: 3px;
    line-height: 1;
}

.hp-wage {
    font-size: 30px;
    margin-bottom: 8px;

    &::before {
        color: #bdbdbd;
        font-size: 18px;
        content: "£";
        float: left;
        padding: 8px 4px 0 6px;
    }

    .hp-madlib__input__text {
        padding-left: 0;
    }
}

.hp-results-minimap {
    position: relative;
    float: right;
    background-image: url('assets/minimap/bg.png');
    background-size: cover;
    width: 90px;
    height: 108px;
    margin-top: -5px;
    @include mq(tablet) {
        margin-top: -15px;
    }

}

.hp-results-minimap__year {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translate(-2000px, -2000px);
    -ms-transform: translate(-2000px, -2000px);
    transform: translate(-2000px, -2000px);
}

.hp-results-stat {
    color: #ed3d61;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 0;
}

.hp-sticky-bar.is-sticky {
    padding: 10px;
    @include mq(mobileLandscape) {
        padding: 10px 20px;
    }

    .hp-range-slider__thumb {
        bottom: 25px !important;
    }
}

.hp-sticky-bar-bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;

    .is-map-active & {
        background: rgba(255, 255, 255, 0.7);
    }

    @include mq(tablet) {
        display: none;
    }
}

.hp-summary {
    @include fs-bodyCopy(1);
    position: relative;
    height: 40px;
    opacity: 0;
    .has-sticky & {
        transition: 0.5s opacity ease-out;
        opacity: 1;
    }
}

.hp-shares {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.hp-share-notice {
    @include fs-textSans(1);
    color: #767676;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.hp-toggle-anchor {
    position: relative;
    top: -90px;
}

.hp-toggle {
    position: relative;
}

.hp-toggle__btn {
    @include fs-textSans(3);
    font-weight: bold;
    position: absolute;
    z-index: 2003;
    top: 0;
    right: 10px;
    margin-top: 10px;

    border: 0;
    border-radius: 100px;
    outline: 0;
    padding: 0 0 0 10px;

    transition: 0.1s background ease-out;
    color: white;
    background: #005689;
    &:hover {
        background: #00456E
    }

    &.hp-toggle__btn--up {
        display: none;
        .is-map-active & {
            display: block;
        }
    }

    .is-sticky & {
        top: 90px;
    }

    .is-map-active &.hp-toggle__btn--down {
        display: none;
    }

    @include mq(tablet) {
        display: none !important;
    }
}

.hp-toggle__btn__text,
.hp-toggle__btn__icon {
    display: inline-block;
    vertical-align: middle;
}

.hp-summary-anchor {
    clear: both;
}

.has-sticky {
    .hp-user__inner--shares {
        border-color: rgba(189, 189, 189, 0.3);
        transition: 0.5s border-color ease-out;
    }
    .hp-shares,
    .hp-share-notice,
    .hp-range-line-affordable {
        opacity: 0.3;
        transition: 0.5s opacity ease-out;
    }

    .hp-range-line-affordable {
        margin-bottom: 12px;
    }
}
