<div class="hp-location js-location">
    <span class="hp-location__label">Go to postcode</span>
    <form class="hp-madlib hp-location__form js-location">
        <button class="hp-madlib__input__btn" type="button" tabindex="2">
            <svg class="icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="currentColor" d="M21 9.8l-.8-.8-5.2 4.8-5.2-4.8-.8.8 4.8 5.2-4.8 5.2.8.8 5.2-4.8 5.2 4.8.8-.8-4.8-5.2 4.8-5.2"/></svg>
            <svg class="icon-submit" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30"><path fill="currentColor" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
        </button>
        <button class="hp-location__form__gps js-user-location" type="button">
            <svg width="24" height="24" viewBox="-3 -3 30 30" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path fill="currentColor" d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
            </svg>
        </button>
        <div class="hp-madlib__input">
            <input class="hp-madlib__input__text" tabindex="1" type="text" placeholder="N1 9GU" />
        </div>
    </form>
</div>

<div class="hp-range">
    <p class="hp-range__desc">
        Multiple of £<span class="js-current-wage">25,000</span>
    </p>
    <div class="hp-range__pips">
        <span class="hp-range__pips__pip" data-range="0"></span>
        <span class="hp-range__pips__pip" data-range="2"></span>
        <span class="hp-range__pips__pip" data-range="3"></span>
        <span class="hp-range__pips__pip" data-range="4"></span>
        <span class="hp-range__pips__pip" data-range="5"></span>
        <span class="hp-range__pips__pip" data-range="6"></span>
        <span class="hp-range__pips__pip" data-range="10+"></span>
    </div>
</div>

<p class="hp-attribution">
    <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> |
    <br>© <a href="http://openstreetmap.org">OpenStreetMap</a>,
    <br>© <a href="http://mapbox.com">Mapbox</a>
</p>
