<div class="hp-range">
    <p class="hp-range__desc">
        Multiple of £<span class="js-current-wage">25,000</span><br>
        that would buy the median house
    </p>
    <div class="hp-range__pips">
        <span class="hp-range__pips__pip" data-range="0"></span>
        <span class="hp-range__pips__pip" data-range="2"></span>
        <span class="hp-range__pips__pip" data-range="3"></span>
        <span class="hp-range__pips__pip" data-range="4"></span>
        <span class="hp-range__pips__pip" data-range="5"></span>
        <span class="hp-range__pips__pip" data-range="6+"></span>
    </div>
</div>

<p class="hp-attribution">
    <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> |
    © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,
    © <a href="http://mapbox.com">Mapbox</a>
</p>
