<div class="intro">
    <div class="intro__step js-step-0" style="display: none">
    </div>
    <div class="intro__step js-step-1">
        <div class="intro__img js-img-0"><span class="intro__img__year js-year"></span></div>
        <div class="intro__img js-img-1"><span class="intro__img__year js-year"></span></div>
        <div class="intro__img js-img-2"><span class="intro__img__year js-year"></span></div>
        <div class="intro__img js-img-3"><span class="intro__img__year js-year"></span></div>
    </div>
</div>
