<h3 class="bb-s fz-18 f-truncate">
    <span class="js-district"></span> | 
    <span class="js-area"></span>
</h3>

<p><b>Sales: <span class="js-num"></span></b></p>

<div class="chart pos-r">
    <div class="chart-color pos-a">  
        <!-- hack for extra space using inline-block -->
        <div class="d-ib range-empty"></div
       ><div class="d-ib range-pipes"></div 
       ><div class="d-ib range-extra"></div> 
        <!-- end of hack -->
    </div>

    <div class="chart-mask pos-a js-lines"></div>

    <div class="chart-label pos-r">
        <div class="pos-a-bl">
            <div class="pin-min"></div>
            £<span class="js-min"></span><br>
            <span class="c-bd">Cheapest</span>
        </div>
        <div class="pos-a-upf ta-r">
            <div class="pin-upf f-r"></div>
            £<span class="js-upf"></span><br>
            <span class="c-bd">More expensive</span>
        </div>
        <div class="pos-a-mr ta-r">
            <span class="c-bd">Most expensive</span><br>
            £<span class="js-max"></span>
            <!--div class="pin-max f-r"></div-->
        </div>
        <div class="pos-a-med">
            <span class="c-bd">Median house price</span><br>
            £<span class="js-med"></span>
            <div class="pin-med"></div>
        </div>
    </div>

</div>

<p>
    <b>Mortgage factor: </b>
    The median house price in 
    <span class="js-year-user">[year]</span> was 
    <b><span class="js-factor label-fac bb-d"></span> times </b>your salary. 
    <span class="js-year-affordable">   
        You would have been able to afford it in [year], 
        when it was just below 4.
    </span>
</p>
