<h3 class="bb-s fz-18 f-truncate">
    <span class="js-district w-50"></span> | 
    <span class="js-area"></span>
</h3>

<p class="h-50"> The median house price in  
    <span class="js-year-user"></span> over 
    <b class="fz-14 c-grey3"><span class="js-num"></span> sales </b><br>was 
    <b><span class="js-factor bb-d w-50 mb-3 ta-c"></span> times</b> your salary. 
    <span class="js-year-affordable"></span>
</p>

<div class="chart pos-r">
    <div class="chart-color pos-a">  
        <!-- hack for extra space using inline-block -->
        <div class="color-pipes d-ib js-range"></div 
       ><div class="color-extra d-ib"></div> 
        <!-- end of hack -->
    </div>
    <div class="chart-color-outlier js-outlier pos-a">
        <div class="color-pipes d-ib js-outlier-pipe"></div 
       ><div class="color-extra d-ib"></div> 
    </div>
  
    <div class="chart-lines pos-a js-lines"></div>
    
    <div class="chart-label pos-r">
        <div class="pos-a-min">
            <div class="pin-min"></div>
            £<span class="js-min"></span><br>
            <span class="c-grey2 fz-9">Cheapest</span>
        </div>
        <div class="pos-a-med">
            <span class="c-grey2 fz-9">Median house price</span><br>
            £<span class="js-med"></span>
            <div class="pin-med"></div>
        </div>       
        <div class="pos-a-upf ta-r">
            <div class="pin-upf f-r"></div>
            £<span class="js-upf"></span><br>
            <span class="c-grey2 fz-9">More expensive</span>
        </div>
        <div class="pos-a-max ta-r">
            <span class="c-grey2 fz-9">Most expensive</span><br>
            £<span class="js-max"></span>
            <div class="pin-max"></div>
        </div>
    </div>

</div>
