<h3 class="bb-s fz-18 f-truncate">
    <span class="js-district"></span> | 
    <span class="js-area"></span>
</h3>

<p><b>number of sales: </b><span class="js-num"></span></p>

<div class="line-distribution js-lines"></div>
<!--div class="dots-outlier"></div-->
<div class="chart">
    <!-- labels: min/max -->
    <div class="fz-11">
        <span class="label-min">[min.] <span class="js-min"></span></span> - 
        <span class="f-r">- - <span class="js-max"></span></span>
    </div>
    <!-- ranges -->
    <div>
        <!-- hack for extra space using inline-block -->
        <div class="range-empty"></div
       ><div class="range-pipes"></div
       ><div class="range-extra"></div>
        <!-- end of hack -->
    </div>
    <!-- markers -->
    <div>
        <div class="marker-salary"></div>
        <div class="marker-med"></div>
        <div class="marker-min"></div>
        <div class="marker-max"></div>
    </div>
    <!-- labels -->
    <div class="fz-11">
        <span class="js-salary"></span> 
        <span class="label-facmed pos-a"> 
            * <span class="js-factor bb-d"></span> 
            = <span class="js-med"></span> [meidan]
        </span>
    </div>
</div>

<p><!--b>mortgage factor: </b><br-->
    The median house price in 
    <span class="js-year-user">[year]</span> was 
    <b><span class="js-factor label-fac bb-d"></span> times </b>your salary. 
    <span class="js-year-affordable">   
        You would have been able to afford it in [year], 
        when it was just below 4.
    </span>
</p>
