<div class="user__inner">
    <h2 class="subtitle">House prices in England and Wales</h2>
    <h1 class="title">Unaffordable country</h1>
    <div class="madlib">
        If you earned
        <form class="madlib__input js-wage">
            <input class="madlib__input__text" type="text" placeholder="the UK average" /><button type="button" class="madlib__input__expand"></button>
            <span class="madlib__input__canned">
                <select class="madlib__input__canned__options" size="2">
                    <option value="25000">the UK average</option>
                    <option value="18900">the living wage</option>
                </select>
            </span>
        </form>
        and wanted to buy house at the median price,<br />
        in <span class="madlib__result"><span class="madlib__result js-year"></span></span>, approximately
        <span class="madlib__result"><span class="js-user-ratio"></span> of the country</span> would be
        within your means.
    </div>

    <div class="line-affordable js-line"></div>
    <div class="pos-r-user">
        <span class="pos-a js-user-ratio"></span>
        <span class="pos-a js-user-label shape-triangle"></span>
    </div>

    <div class="range-slider js-date">
        <span class="range-slider__thumb"></span>
    </div>

    <div class="share-container">
        <button class="share share--mail"></button>
        <button class="share share--twitter"></button>
        <button class="share share--facebook"></button>
        <p>Share your poverty</p>
    </div>
</div>
