<div class="hp-user__inner">
    <h2 class="hp-subtitle">Unaffordable country</h2>
    <h1 class="hp-title">Where could you afford to buy?</h1>
    <p>If you wanted to buy a house at the median price and earned</p>
    <form class="hp-madlib hp-wage js-wage">
        <button class="hp-madlib__input__btn" type="button" tabindex="2">
            <svg class="icon-clear" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="M21 9.8l-.8-.8-5.2 4.8-5.2-4.8-.8.8 4.8 5.2-4.8 5.2.8.8 5.2-4.8 5.2 4.8.8-.8-4.8-5.2 4.8-5.2"/></svg>
            <svg class="icon-submit" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
        </button>
        <div class="hp-madlib__input">
            <input class="hp-madlib__input__text" tabindex="1" type="text" />
        </div>
    </form>
    <div class="hp-madlib-options">
        <button class="hp-button js-wage-preset" data-selected data-value="25000">national average</button>
        <button class="hp-button js-wage-preset" data-value="14000">minimum wage</button>
    </div>
</div>

<div class="hp-user__inner bt-s user-select-none">
    <div class="hp-results-minimap js-minimap"></div>
    <p class="user-select-text">
        <span class="hp-results-stat"><span class="js-user-ratio"></span> of the country</span>
        would be beyond your means
        <span class="hp-results-stat">in <span class="js-year">2014</span></span>
    </p>
    <div class="hp-range-option">Or try other years: </div>
    <div class="hp-summary-anchor js-summary-anchor"></div>
    <div class="hp-range-line-affordable pos-r">
        <div class="js-area"></div>
        <div class="hp-range-label label-100">100%</div>
        <div class="hp-range-label label-50">50</div>
        <div class="hp-range-label label-0"></div>
    </div>
    <div class="hp-sticky-bar js-summary-bar">
        <p class="hp-summary js-summary">
            On £<span class="js-current-wage"></span>,
            <span class="hp-results-stat"><span class="js-user-ratio"></span> of the country</span>
            would be beyond your means
            <span class="hp-results-stat">in <span class="js-year">2014</span></span>
        </p>
        <div class="hp-range-slider js-date">
            <span class="hp-range-slider__thumb js-thumb"></span>
            <span class="hp-range-slider__thumbline"></span>
        </div>
        <button class="hp-summary__toggle hp-summary__toggle--down js-map-activate">
            <span class="hp-summary__toggle__text">Explore the map</span>
            <svg class="hp-summary__toggle__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="m 21,15 -5.25,4.5 0,-11.5 -1.5,0 0,11.5 L 9,15 l -0.5,1 5.75,6 1.5,0 5.75,-6 -0.5,-1 0,0 z" /></svg>
        </button>
        <button class="hp-summary__toggle hp-summary__toggle--up js-map-deactivate">
            <span class="hp-summary__toggle__text">Return to options</span>
            <svg class="hp-summary__toggle__icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><path fill="currentColor" d="m 9,15 5.25,-4.5 0,11.5 1.5,0 0,-11.5 L 21,15 21.5,14 15.75,8 14.25,8 8.5,14 9,15 9,15 Z" /></svg>
        </button>
        <form class="hp-madlib hp-location-mobile js-location">
            <button class="hp-madlib__input__btn" type="button" tabindex="2">
                <svg class="icon-clear" xmlns="http://www.w3.org/2000/svg" width="23" height="23"><path fill="#333" d="M21 9.8l-.8-.8-5.2 4.8-5.2-4.8-.8.8 4.8 5.2-4.8 5.2.8.8 5.2-4.8 5.2 4.8.8-.8-4.8-5.2 4.8-5.2"/></svg>
                <svg class="icon-submit" xmlns="http://www.w3.org/2000/svg" width="23" height="23"><path fill="white" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
            </button>
            <div class="hp-madlib__input">
                <input class="hp-madlib__input__text" tabindex="1" type="text" placeholder="N1 9GU" />
            </div>
        </form>
    </div>
</div>

<div class="hp-user__inner hp-user__inner--location bt-s js-location">
    <span class="hp-location-label">Go to postcode</span>
    <form class="hp-madlib hp-location js-location">
        <button class="hp-madlib__input__btn" type="button" tabindex="2">
            <svg class="icon-clear" xmlns="http://www.w3.org/2000/svg" width="23" height="23"><path fill="#333" d="M21 9.8l-.8-.8-5.2 4.8-5.2-4.8-.8.8 4.8 5.2-4.8 5.2.8.8 5.2-4.8 5.2 4.8.8-.8-4.8-5.2 4.8-5.2"/></svg>
            <svg class="icon-submit" xmlns="http://www.w3.org/2000/svg" width="23" height="23"><path fill="white" d="M22.82 14.63l-7.62-7.63-.72.7 5.5 6.57h-13.98v1.46h13.97l-5.5 6.56.73.7 7.62-7.63v-.74"/></svg>
        </button>
        <div class="hp-madlib__input">
            <input class="hp-madlib__input__text" tabindex="1" type="text" placeholder="N1 9GU" />
        </div>
    </form>
</div>

<div class="hp-user__inner hp-user__inner--shares bt-s js-shares">
    <div class="d-ib">
        <button class="hp-share js-share" data-network="facebook"></button>
        <button class="hp-share js-share" data-network="twitter"></button>
        <button class="hp-share js-share" data-network="email"></button>
    </div>
    <p class="hp-share-notice">
        Your salary will not be shared
    </p>
</div> 
